<div class="container">
	<h1>Collector.IO</h1>
	<div class="jumbotron">
		<%= image_tag "jumbotron.png" %>
	</div>
	<div>
	Great software for great collectionss.
</div>

<div class="container">
	<div></div>
</div>
